.form{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:50%;
    top:40%;
    transform:translate(-50%,-50%);
    border:1px solid black;
    border-radius: 5px;
    padding:15px  10px;
    width:400px;
    height:300px;
    align-items: center;
    justify-content: center;

}
.form :not(:first-child){
   margin-top: 10px;
}
form input {
    width:80%;
    border:1px solid black
}
form input[type='submit']{
    margin-top:20px !important;
    width:120px;

}